@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

nav{
    border-bottom: 1px solid #F21D44;
    margin-bottom: 10px;
    background-image: url(../img/bannerSummer.png);
}
.offcanvas-header{
    background-color: #F21D44;
    color: #fff;
}
.offcanvas-body{
    background-image: url(../img/fondo.png);
}

.navbar-brand{
    margin-right: -15rem;
}

nav ul li a:hover{
    background-color: #F5C7C6;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px;
}
nav h5{
    font-weight: bold;
    font-size: 34px;
}
.whatsapp{
        border-radius: 5px; /* Borde del boton */
        border: solid 2px #F21D44;
        padding: 10px 10px; 
        position: fixed;
        bottom: 10px;
        right: 50px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    
}

main{
    padding-top: 150px;
    background-image: url(../img/fondo.png);
}
main h1{
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-align: end;
    color: #ffff;
    background-color:#F5C7C6 ;
    padding: 30px;
    margin-bottom: 3rem;
}


.mBread{
margin-left: 20px;
}
main ol a:hover{
    color: #ff4400;
}
main div h1{
    font-size: 90px;
}
main div h1 p{
    padding: 20px;
    margin-bottom: 90px;
}
main div p{
    font-size: 60px;
    text-align: right;
}

main div{
    padding-left: 20px;
} 
.center{
    padding: 50px;
    text-align: center;
}
main section{
padding-bottom: 50px;
}
section li a{
        color: #ff4400;
        text-decoration: none;
    
}

.card{
    border: none;
    position: relative;
    background-color: transparent;
}
.card img{
    border-radius: 30px 0 30px 0;
}
.hover1{
    position: relative;
}
.hover1:hover:after{
    content: "BLUSA CREPPE";
}
.hover2:hover:after{
    content: "MUSCULOSA + SHORT";
}
.hover3:hover:after{
    content: "MUSCULOSA VERDE";
}
.hover4:hover:after{
    content: "MUSCULOSA + SHORT";
}
.hover5:hover:after{
    content: "MUSCULOSA MULTICOLOR";
}
.hover6:hover:after{
    content: "MUSCULOSA TIRAS";
}
.hover7:hover:after{
    content: "MUSCULOSAS CREPPES";
}
.hover8:hover:after{
    content: "MUSCULOSA + SHORT";
}
.card:hover:after{
    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    top: 80%;
    left: 6%;
    background-color: #ff007f88;
    border-radius: 10px;
    color:white;
    width: 250px;
    height: 70px;
    align-items: center;
}
.since{
    padding: 5rem;
    display: flex;
    flex-direction: row;
}
.swing {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 2s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    
    }
    @-webkit-keyframes swing {
    10% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    }
    20% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
    }
    30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
    }
    50% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        }
    }
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
div h6{
    background-color: #F21D4458;
    border-radius: 20px;
    text-align: center;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 44px;
    color: #ffff;
}
.ilus{
    width: 20rem;
    margin: 30px;
}
.promos{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 10rem;
    margin-top: 10rem;
}
.credito{
    box-shadow: 10px 5px 5px #25262d38;
    border-radius: 10px;
    color: #F21D44;
    text-align: center;
    padding: 30px;
    background-color: #fff
}
.dia{
    box-shadow: 10px 5px 5px #25262d38;
    border-radius: 10px;
    color: #F21D44;
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
.talles{
    box-shadow: 10px 5px 5px #25262d38;
    border-radius: 10px;
    color: #F21D44;
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
.dni{
    box-shadow: 10px 5px 5px #25262d38;
    border-radius: 10px;
    color: #F21D44;
    text-align: center;
    padding: 30px;
    background-color: #fff;
}
footer {
    display: grid;
    grid-template-areas:
    "titulof facebook twitter insta"
    "titulof politica boton compra"
    "titulof none none none";
    font-size: 16px;
    color: #fff;
    background-color: #25262d;
    border-top: 2px solid #F21D44;
    padding-bottom: 20px;
    padding-top: 60px;
}
footer form h1{
    text-align: center;
}
.btn{
    background-color: #F21D44;
    color: white;
    border: none;
}
.btn:hover{
background-color: white;
color: #F21D44;
border: solid 1px #121212;
}
.buy{
    background-color: white;
    color: #121212;
    border: solid 1px #121212;
}
.buy:hover{
    background-color: #F21D44;
    border: none;
    color: white;
}
.titulof{
    grid-area: titulof;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}
.facebook{
    grid-area: facebook;
    text-align: center;
    padding: 50px;
}
.twitter{
    grid-area: twitter;
    text-align: center;
    padding: 50px;
}
.insta{
    grid-area: insta;
    text-align: center;
    padding: 50px;
}
.pinte{
    grid-area: pinte;
    text-align: center;
    padding: 10px;
}
.youtube{
    grid-area: youtube;
    text-align: center;
    padding: 10px;
}
.cookies{
    grid-area: cookies;
    text-align: center;
    padding: 10px;
}
.politica{
    grid-area: politica;
    text-align: center;
    padding: 10px;
}
.compra{
    grid-area: compra;
    text-align: center;
    padding: 10px;
}
.boton{
    grid-area: boton;
    text-align: center;
    padding: 10px;
}
.navbar-toggler{
    margin-right: 40px;
}
.form-control {
    border: 1px solid #F21D44;
}

@media screen and (max-width: 545px) {
    nav{
        border-bottom: 1px solid #121212;
        margin-bottom: 10px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    nav h5{
        font-weight: bold;
        font-size: 24px;
    }
    nav li a {
        font-size: 16px !important;
    }
    main div h1{
        font-size: 40px;
        font-weight: bold;
    }
    main div h1 p{
        margin-bottom: 40px;
    }
    main div p{
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
    }
    .promos{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .since{
        display: flex;
        flex-direction: column;
    }
    .ilus{
        
        width: 10rem;
        margin: 10px;
    }
    div h6{
        font-size: 24px;
        padding: 20px;
    } 
    .whatsapp {
    right: 10px;
    border: none;
    box-shadow: none;
    }
    .wIcon img {
        width: 70%;
    }
    
    footer{
        font-size: 12px;
    }
    .titulof{
        font-size: 14px;
    }
    .tituloAyuda {
        font-size: 18px;
    }
    .formulario{
        font-size: 16px;
    }
    
    footer {
        display: grid;
        grid-template-areas:
        "titulof titulof titulof "
        "titulof titulof titulof"
        "facebook twitter insta"
        "politica boton compra";
        font-size: 14px;
        color: #fff;
        background-color: #25262d;
        border-top: 2px solid black;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    footer form h1{
        text-align: center;
    }
    .twitter,
    .insta,
    .facebook {
        padding: 10px;
    }
    
}
    @media screen and (max-width: 700px) {
        
        .promos{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        .since{
            display: flex;
            flex-direction: column;
        }
        .ilus{
            
            width: 10rem;
            margin: 10px;
        }
        div h6{
            font-size: 24px;
            padding: 20px;
        } 
        .whatsapp {
            right: 10px;
            border: none;
            box-shadow: none;
            }
            .wIcon img {
                width: 70%;
            }
        footer {
            display: grid;
            grid-template-areas:
            "titulof titulof titulof "
            "titulof titulof titulof"
            "facebook twitter insta"
            "politica boton compra";
            font-size: 16px;
            color: #fff;
            background-color: #25262d;
            border-top: 2px solid black;
            padding-bottom: 0px;
            padding-top: 20px;
        }
        footer form h1{
            text-align: center;
        }
        .mb-3{
            margin-bottom: 2rem !important;
        }
        .form-label {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
    }






